@page "/payments/create/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Payment</h3>
<hr />
<br />


<FormComponent ButtonText="Create Payment" OnValidSubmit="CreatePayment" payment="payment" />


@code {
    Payment payment = new Payment();
    [Parameter] public int id { get; set; }
    private IList<Booking>? Bookings;

    protected async override Task OnInitializedAsync()
    {
        Bookings = await _client.GetFromJsonAsync<List<Booking>>($"{Endpoints.BookingsEndpoint}");
        payment.BookingID = id;
    }

    private async Task CreatePayment()
    {
        await _client.PostAsJsonAsync(Endpoints.PaymentsEndpoint, payment);
        _navManager.NavigateTo("/payments/");
    }

}