@page "/"

<article class="no-padding">
    <div class="center-button">
        <div class="button-container">
            <a class="btn btn-primary" href="/bookings">Book a Car now</a>
        </div>
    </div>
</article>
