@page "/cars/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Car</h3>
<hr />
<br />

<FormComponent ButtonText="Create Car" OnValidSubmit="CreateCar" Car="Car" />


@code {
    Car Car = new Car();

    private IList<Manufacturer>? Manufacturers;
    private IList<Model>? Models;
    private IList<Colour>? Colours;

    protected async override Task OnInitializedAsync()
    {
        Manufacturers = await _client.GetFromJsonAsync<List<Manufacturer>>($"{Endpoints.MakesEndpoint}");
        Models = await _client.GetFromJsonAsync<List<Model>>($"{Endpoints.ModelsEndpoint}");
        Colours = await _client.GetFromJsonAsync<List<Colour>>($"{Endpoints.ColoursEndpoint}");
    }

    private async Task CreateCar()
    {
        await _client.PostAsJsonAsync(Endpoints.carsEndpoint, Car);
        _navManager.NavigateTo("/cars/");
    }

}