@page "/cars/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Car</h3>
<FormComponent Car="Car" Disabled="true" />
@code {
	[Parameter] public int id { get; set; }
	Car? Car = new Car();
	protected async override Task OnParametersSetAsync()
	{
		Car = await _client.GetFromJsonAsync<Car>($"{Endpoints.CarsEndpoint}/{id}");
	}
}