@page "/cars/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Car</h3>
<FormComponent car="car" Disabled="true" />
@code {
	[Parameter] public int id { get; set; }
	Car? car = new Car();
	protected async override Task OnParametersSetAsync()
	{
		car = await _client.GetFromJsonAsync<Car>($"{Endpoints.CarsEndpoint}/{id}");
	}
}