@page "/manus/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Manufacturer</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditMake" manu="manu" />

@code {
    [Parameter] public int id { get; set; }
    Manufacturer? manu = new Manufacturer();

    protected async override Task OnParametersSetAsync()
    {
        manu = await _client.GetFromJsonAsync<Manufacturer>($"{Endpoints.MakesEndpoint}/{id}");
    }

    async Task EditMake()
    {
        await _client.PutAsJsonAsync($"{Endpoints.MakesEndpoint}/{id}", manu);
        _navManager.NavigateTo("/manus/");
    }

}