@page "/manus/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Manufacturer</h3>
<FormComponent manu="manu" Disabled="true" />
@code {
	[Parameter] public int id { get; set; }
	Manufacturer? manu = new Manufacturer();
	protected async override Task OnParametersSetAsync()
	{
		manu = await _client.GetFromJsonAsync<Manufacturer>($"{Endpoints.MakesEndpoint}/{id}");
	}
}